---
---
@import "{{ site.theme }}";

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.site-header {
    width: 100%;
    height: 800px;
    background-image: url('../Banner.png') !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.page-header, .project-name, .project-tagline, .btn {
    display: none !important;
}

@media screen and (max-width: 768px) {
    .site-header {
        height: 300px;
    }
}
